.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(45deg, rgb(114, 114, 142) 0%, rgb(11, 0, 95) 100%);
}
.wrapper {
    width: 900px;
    padding: 30px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    backdrop-filter: blur(50px);
    color: #fff;
    border-radius: 20px;
    line-height: 35px;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 5rem;
}
.wrapper .IMG{
    background: url(https://i.pinimg.com/736x/b9/79/bb/b979bbc6097599eeaba4384fcd91ba8e.jpg) no-repeat;
    background-position: start;
    background-size: cover;
    border-radius: 40px;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input_box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 254, 254, 0.84);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 4px 10px 4px 20px;
}

.input_box input::placeholder {
    color: #fff;
    opacity: 80%;
}

.wrapper .remember_forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember_forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember_forgot a {
    color: #fff;
    text-decoration: none;
}

.remember_forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.register_link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register_link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register_link p a:hover {
    text-decoration: underline;
}